/* %%%%%%%%%%%%%%%%%%%%%% */
/* ? UTILITIES */
/* %%%%%%%%%%%%%%%%%%%%%% */
:root{
    --aside-width: 6rem
}


* {
    font-family: "Roboto", sans-serif;
}

button {
    border: none;
    background-color: transparent;
    aspect-ratio: 1 / 1;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.tag{
    background-color: #165bba;
    border-radius: 3rem;
    font-size: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    height: 2rem;
    line-height: 2rem;
}

/* %%%%%%%%%%%%%%%%%%%%%% */
/* ? CONTENT */
/* %%%%%%%%%%%%%%%%%%%%%% */

header .mobile-logo{
    width: 3.5rem;
}

header .logo{
    height: 3.5rem;
    display: flex;
    align-items: center;
}

header{
    height: 4.5rem;
}

main>nav{
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

.search{
    padding: .8rem;
}

textarea{
    border: none;
    resize: none;
    width: 100%;
}

main{
    height: calc(100vh - 4.5rem);
}

main > nav{
    width: var(--aside-width); 
    height: 100%;
    background-color: #051e34; 
}

main > div{
    width: calc(100vw - var(--aside-width));
    overflow: scroll;
}

main > nav > section > div > p,
.xl-only {
    display: none;
}

.main-container article section{
    border: 2px solid #dddddd;
}

.main-container  article .title p{
    font-size: 1.5rem;
    margin: .5rem 0;
}

.main-container  article .content{
    min-height: 5rem;
}

img[alt="class-avatar"]{
    width: 2rem;
    height: 2rem;
}

.date{
    font-size: .9rem;
}

.accordion button {
    height: 3rem;
}

.accordion-item{
    border: none;
}

.todo-container,
.stats{
    border: 1px solid #dddddd;

}

.accordion .accordion-item:nth-child(2),
.todo-item:nth-child(2){
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.stats > *:not(:last-child){
    border-bottom: 1px solid #dddddd;
}

#offcanvasExample{
    width: 100vw;
    }

/* %%%%%%%%%%%%%%%%%%%%%% */
/* ? COLORS */
/* %%%%%%%%%%%%%%%%%%%%%% */

.my-border{
    border: 1px solid red;
    height: 1rem;
}

.c-orange{
    color: #ff8f00
}

.c-white{
    color: white;
}

.c-gray{
    color: #6c757d;
}

.b-light-gray {
    background-color: #f8f9fa;
}

.b-gray{
    background-color: #e5e5e5;
}

.b-white{
    background-color: white;
}

.b-light-blue{
    background-color: #1b72e8;
}


button.outline-white{
    border-color: white;
    color: white;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    padding-bottom: .5rem;
}

button.outline-gray{
    border-color: #6c757d;
    border-radius: .3rem;
    height: 2rem;
}

span.stato p{
    font-size: .8rem;
    border-radius: .5rem;
    color: white;
}

span.stato.done p{
    background-color: #1a8755;
    width: 3rem;
}

span.stato.progress {
    background-color: #ffbe00;
    padding-left: .5rem;
    padding-right: .5rem;
}

span.stato.failed p {
    background-color: #db3343;
    padding-left: .5rem;
    padding-right: .5rem;
}

/* %%%%%%%%%%%%%%%%%%%%%% */
/* ? MEDIA */
/* %%%%%%%%%%%%%%%%%%%%%% */

@media screen and (min-width: 992px) {
    .dashboard .info .row .col-12:first-child {
        order: 1;
    }
}

@media screen and (min-width: 1200px) {
    :root{
        --aside-width: 12rem
    }

    main > nav > section > div > p{
        display: flex;
        width: 5rem;
        text-align: center;
    }

    main > nav > section > div > i{
        width: 3rem;
    }

    .xl-only{
        display: flex;
    }

    #offcanvasExample{
    width: 60rem;
    }
}

/* %%%%%%%%%%%%%%%%%%%%%% */
/* ? HOVER */
/* %%%%%%%%%%%%%%%%%%%%%% */

main > nav > section > *:hover{
    background-color: rgba(255,255,255,0.3);
}