/* %%%%%%%%%%%%%%%%%%%%%% */
/* ? UTILITIES */
/* %%%%%%%%%%%%%%%%%%%%%% */
:root{
    --aside-width: 6rem
}


* {
    font-family: "Roboto", sans-serif;
}

button {
    border: none;
    background-color: transparent;
    aspect-ratio: 1 / 1;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.tag{
    background-color: #165bba;
    border-radius: 3rem;
    font-size: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    height: 2rem;
    line-height: 2rem;
}

/* %%%%%%%%%%%%%%%%%%%%%% */
/* ? CONTENT */
/* %%%%%%%%%%%%%%%%%%%%%% */

header .mobile-logo{
    width: 3.5rem;
}

header{
    height: 4.5rem;
}

.search{
    padding: .8rem;
}

textarea{
    border: none;
    resize: none;
    width: 95%;
}

main{
    height: calc(100vh - 4.5rem);
}

main > nav{
    width: var(--aside-width); 
    height: 100%;
    background-color: #051e34; 
}

main > div{
    width: calc(100vw - var(--aside-width));
}

aside > article > section{
    border: 1px solid red;
    height: 17rem;
}

main > nav > section > div > p {
    display: none;
}

/* %%%%%%%%%%%%%%%%%%%%%% */
/* ? COLORS */
/* %%%%%%%%%%%%%%%%%%%%%% */

.c-orange{
    color: #ff8f00
}

.c-white{
    color: white;
}

.b-light-gray {
    background-color: #f8f9fa;
}

.b-gray{
    background-color: #e5e5e5;
}

.b-white{
    background-color: white;
}

.b-light-blue{
    background-color: #1b72e8;
}

button.outline-white{
    border-color: white;
    color: white;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    padding-bottom: .5rem;
}

@media screen and (min-width: 992px) {
    .dashboard .info .row .col-12:first-child {
        order: 1;
    }
}

@media screen and (min-width: 1200px) {
    :root{
        --aside-width: 12rem
    }

    main > nav > section > div > p{
        display: flex;
        width: 5rem;
        text-align: center;
    }

    main > nav > section > div > i{
        width: 3rem;
    }
}